.container{
  padding:220px;
  background:url("") no-repeat;

    
}

.mainheading{
    text-align: center;
    color: Red;
    border: 2px solid black;
}
body {
    font:0.75em Arial;
}
a{ 
   text-decoration: none;
   color: slategrey;
   
}

a:hover{
 color:Blue;
}

.button {
    background: #ccc;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
}

#cookie_banner {
    display: none;
    background:#333;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#cookie_banner .yurt {
    margin: 0 auto;
    width: 70%;
    color: #000;
    padding: 15px;
}
.navbar{
    width: 100%;
    height: 70px;
    background-color: transparent;
    color: black;
    position: fixed;
    top: 0;
    padding-top: 70px;
    font-size: x-large;
    border: solid white 1px;
}
.help{
    color: black;
    text-decoration: none;
    padding: 15px;
}

.intro {
    height: 100%;
    width: 100%;
    Margin: auto;
    background: url(https://cdn-images-1.medium.com/max/2000/1*RPgpFSBsrFW-i7ckNVR6Aw.jpeg) no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Adobe Gothic std', Adobe Gothic std;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover {
    color: #036A81;
    border: solid #036A81 3px;
}