.mainheading{
    text-align: center;
    color: Red;
}


a{ 
   text-decoration: none;
   color: black;
}

a:hover{
 color:Blue;
}

.border{
    border: 2px dotted black;
    display:block;
    border-style: inset;
    border-width: 1px;
}

div{
     background-image:url("https://wallpaperstock.net/wallpapers/thumbs1/33694hd.jpg");
     background-repeat: repeat-x;
     background-size: cover
}