.mainheading{
    text-align: center;
    color: Red;
    border: 2px solid black;
}

a{ 
   text-decoration: none;
   color: black;
}

a:hover{
 color:Blue;
}

.container{
  padding: 150px;
  background:url("https://i.pinimg.com/564x/f5/62/5e/f5625ebe9066c53c2ef387dfabdb6998--music-wallpaper-computer-wallpaper.jpg") no-repeat;
    
}




  

