/* Ebus 1 */
.econtent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.econtent .headingnumber1{
    position: absolute;
    top: 10%;
    left: 42%;
    color: red;
}
.econtent .headingnumber2{
    position: absolute;
    top: 37%;
    left: 42%;
    color: red;
}

.econtent .dale{
    position: absolute;
    top: 20%;
    left: 43%;
}

.econtent .dawson{
    position: absolute;
    top: 25%;
    left: 43%;
}

.econtent .gemma{
    position: absolute;
    top: 30%;
    left: 43%;
}

.econtent .kevin{
    position: absolute;
    top: 35%;
    left: 43%;
}

.econtent .jason{
    position: absolute;
    top: 50%;
    left: 43%;
}
.econtent .ryan{
    position: absolute;
    top: 55%;
    left: 43%;
}
.econtent .ben{
    position: absolute;
    top: 60%;
    left: 43%;
}

.econtent .nathan{
    position: absolute;
    top: 65%;
    left: 43%;
}

.shoppingcart{
    position: absolute;
    top: 75%;
    left: 45%;
}

.shoppingcartstyle{
   text-decoration: none;
    color: green;
    padding: 6px 6px;
    border: solid 2px green;
    border-radius: 4px;
}

.shoppingcartstyle:hover{
    cursor: pointer;
}

.calcbutton{
    position: absolute;
    top: 90%;
    left: 43%;
    
    text-decoration: none;
    color: blue;
    padding: 6px 6px;
    border: solid 2px blue;
    border-radius: 4px;
}

.calcbutton:hover{
    cursor: pointer;
}

.cancelbutton{
    position: absolute;
    top: 90%;
    left: 52%;
    
   text-decoration: none;
    color: blue;
    padding: 6px 6px;
    border: solid 2px blue;
    border-radius: 4px;
}

/* Ebus2 */
.ProceedPurchase{
    position: absolute;
    top: 35%;
    text-decoration: none;
    color: green;
    padding: 6px 6px;
    border: solid 2px green;
    border-radius: 4px;
    text-align: center;
}
.ProceedPurchase:hover{
    cursor: pointer;
}

.Validate{
    position: absolute;
    top: 30%;
    text-decoration: none;
    color: blue;
    padding: 6px 6px;
    border: solid 2px blue;
    border-radius: 4px;
    text-align: center;
}
.Validate:hover{
    cursor: pointer;
}
.label {
    position: absolute;
    top: 10%;
}

.labelemail {
    position: absolute;
    top: 17%;
}

.labelpin {
    position: absolute;
    top: 22%;
}

.ebus2heading {
    color: red;
    font-size: large;
}

.inputname {
    position: relative;
    left: 36%;
}

.inputemail {
    position: relative;
    left: 10%;
}
.inputpin {
    position: relative;
    left: 35%;
}

/* Ebus3 */
.rheading {
    position: absolute;
    left: 48%;
    top: 10%;
    color: red;
    font-size: x-large;
    font-style: oblique;
}
.username {
    position: absolute;
    left: 43%;
    top: 20%;
    color: black;
    font-size: large;
}

.email {
    position: absolute;
    left: 43%;
    top: 30%;
    color: black;
    font-size: large;
}

.total {
    position: absolute;
    left: 43%;
    top: 40%;
    color: black;
    font-size: large;
}

/*Shophomepage */
.bodytagsh {
    background-image: url(http://downloads.techweekeurope.co.uk/wp-content/uploads/2010/09/SugarSync-logo.png);
    background-repeat: no-repeat;
    background-position: top;
}
.aboutus {
    font-size: x-large;
    color: red;
    position: absolute;
    top: 40%;
    left: 35%;
}
.ausection {
    position: absolute;
    top: 48%;
    left: 35%;
    font-family: cursive
}
.servicesprovided {
    font-size: x-large;
    color: red;
    position: absolute;
    top: 60%;
    left: 35%;
}
.servicepara {
    position: absolute;
    top: 68%;
    left: 35%;
    font-family: cursive
}
.clogo{
    position: absolute;
    top: 40%;
    left: 0%;
}

.clogo img{
    height: 32%;
    width: 32%;
}
.menubutton {
    position: absolute;
    top: 90%;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}
.nextbutton {
    position: absolute;
    top: 90%;
    left: 5%;
    background-color: grey;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}
/*About Cloud page*/
.cloudbackground {
    background-image: url(https://wallpaperbrowse.com/media/images/Background-4.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.h1cc {
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    color:red;
}
.definitioncc {
    position: absolute;
    top: 10%;
    left:40%;
    font-size: x-large;
}
.howitworks {
    position: absolute;
    top: 30%;
    left:40%;
    font-size: x-large;
}
.usescc {
    font-size: x-large;
}
.bottompic {
    position: absolute;
    top: 85%;
    left: 35%;
}
.menubuttoncc {
    position: absolute;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}
.nextbuttoncc {
    position: absolute;
    left: 5%;
    background-color: grey;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}
/*product details page*/
.productheading {
    font: bold;
    font-size: xx-large;
    position: absolute;
    top:2%;
    left: 40%;
    color: red;
}
.productbackground {
    background-image: url(https://image.freepik.com/free-vector/abstract-design-background_1048-6726.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.cloudheading {
    position: absolute;
    top: 10%;
    left:5%;
    font-size: x-large;
}
.cloudpara {
    position: absolute;
    top: 15%;
    left: 5%;
    max-width: 50%
}
.cloudphoto {
    position: absolute;
    left: 60%;
    top: 10%;
}
.cloudlink {
    position: absolute;
    top: 42%;
    left: 5%;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}