.mainheading{
    text-align: center;
    color: Red;
}

a{ 
   text-decoration: none;
   color: black;
   border: 1px solid black;
   
}

a:hover{
 color:Blue;
}


.dale{
    max-width:75%;
}
.cv1background {
    background-image: url(http://www.qygjxz.com/data/out/18/4905019-background-pictures.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


  

