.mainheading{
    color: Red;
    position: absolute;
    top: 5%;
    left: 38%;
}

.profilepic {
    position: absolute;
    top: 30%; 
    left: 40%;
}
.profilepic img {
       border-radius: 50%;
       height: 300px;
       width: 300px;
}
.aboutme {
    position: absolute; 
    top: 10%;
    left: 43%;
    color: red;
}
.aboutpara {
    position: absolute;
    top: 15%;
    left: 5%;
}
.details {
    position: absolute;
    top: 30%;
    left: 5%;
}
.personalas {
    position: absolute;
    top: 70%;
    left: 41%;
    color: red;
}
.listclass {
    position: absolute;
    top: 74%;
    left: 5%;
}
.homebutton {
    position: absolute;
    top: 110%;
    left: 44%;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}
.nextbutton {
    position: absolute;
    top: 110%;
    left: 50%;
    background-color: grey;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 100%;
}
.photo {
    background-image: url(http://3.bp.blogspot.com/-jSb2xuGaeWs/T6EtJzqAC9I/AAAAAAAAAa4/aNvmQf34kOc/s640/Notebook-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
  

