/* Ebusiness code page 1 */
.ebus_content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.ebus_content h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.ebus_content .label1{
    position: absolute;
    top: 20%;
    left: 43%;
}

.ebus_content .label2{
    position: absolute;
    top: 25%;
    left: 43%;
}

.ebus_content .label3{
    position: absolute;
    top: 30%;
    left: 43%;
}

.ebus_content .label4{
    position: absolute;
    top: 35%;
    left: 43%;
}

.ebus_content .label5{
    position: absolute;
    top: 50%;
    left: 43%;
}
.ebus_content .label6{
    position: absolute;
    top: 55%;
    left: 43%;
}
.ebus_content .label7{
    position: absolute;
    top: 60%;
    left: 43%;
}

.ebus_content .label8{
    position: absolute;
    top: 65%;
    left: 43%;
}

.add_btn{
    position: absolute;
    top: 75%;
    left: 45%;
}

.add_btn_style{
   text-decoration: none;
    color: green;
    padding: 6px 6px;
    border: solid 2px green;
    border-radius: 4px;
}

.add_btn_style:hover{
    cursor: pointer;
}

.cal_btn{
    position: absolute;
    top: 90%;
    left: 43%;
    
    text-decoration: none;
    color: blue;
    padding: 6px 6px;
    border: solid 2px blue;
    border-radius: 4px;
}

.cal_btn:hover{
    cursor: pointer;
}

.clear_btn{
    position: absolute;
    top: 90%;
    left: 52%;
    
   text-decoration: none;
    color: blue;
    padding: 6px 6px;
    border: solid 2px blue;
    border-radius: 4px;
}